@value borderRadiusSmall from "./../../styles/global.css";

.card {
    scroll-snap-align: start;
    display: flex;
    border-radius: borderRadiusSmall;
    flex-wrap: wrap;
}

.avatar {
    width: 100%;
    border-radius: borderRadiusSmall;
}

.author {
    margin-top: 16px;
    align-self: start;
}

@media (min-width: 1050px) {
    .author {
        margin-top: 32px;
    }
}
