.card {
    composes: radius from "./../../styles/global.css";
    scroll-snap-align: start;
    display: flex;
    border-radius: var(--card-border-radius);
    flex-wrap: wrap;
}

.avatar {
    width: 100%;
    /* height: auto; */
    border-radius: 8px;
}

.author {
    margin-top: 16px;
    align-self: start;
}

@media (min-width: 1050px) {
    .author {
        margin-top: 32px;
    }
}
