.container {
}

.item {
    composes: colors from "./../../styles/global.css";
    border-top: 1px solid var(--colorPrimary100);
}

.item:last-of-type {
    border-bottom: 1px solid var(--colorPrimary100);
    margin-bottom: 16px;
}

.question {
    padding: 16px 0;
    composes: fontH5 from "./../../styles/global.css";
    cursor: pointer;
}

.answer {
    margin-bottom: 16px;
}
