.container {
    margin-top: 64px;
}

.content {
    composes: pagePadding from "./../../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    /* color: #333; */
}

.posterWrapper {
    composes: pagePadding from "./../../../styles/global.css";
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.poster {
    /* height: auto; */
    /* width: 100%; */
    composes: pagePadding from "./../../../styles/global.css";
    /* margin-left: var(--padding);
    margin-right: var(--padding); */
}

.otherServices:last-of-type {
    margin-bottom: var(--padding);
}

.columns {
    composes: pagePadding from "./../../../styles/global.css";
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap);
}

.sidebarList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calc(var(--gap) / 2);
    margin-bottom: var(--gap);
}

@media (min-width: 1050px) {
    .posterWrapper {
        margin-left: var(--padding);
        margin-right: var(--padding);
        width: calc(100% - var(--padding) - var(--padding));
        aspect-ratio: 3 / 1;
    }

    .poster {
        /* height: 60vh; */
        /* object-fit: cover; */
        border-radius: 16px;
    }

    .columns {
        display: grid;
        grid-template-columns: 1fr 300px;
    }
}
