@value borderRadiusSmall from "./../../styles/global.css";

.card {
    composes: clickableShadow from "./../../styles/global.css";
    composes: pagePadding from "./../../styles/global.css";
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: borderRadiusSmall;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    background: #fff;
}

.imgWrapper {
    width: 100%;
}

.img {
    object-fit: cover;
    border-top-left-radius: borderRadiusSmall;
    border-top-right-radius: borderRadiusSmall;
}

.content {
    padding: 16px;
    overflow: hidden;
}

.title {
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontMedium);
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 24px;
    color: #404040;
    margin: 0;
    word-wrap: break-word;
}

.extra {
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontTiny);
    padding-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 1050px) {
    .card:hover {
        transform: translateY(-4px);
    }

    .img {
        /* height: 170px; */
    }

    .title {
        line-height: 32px;
    }
}

@media (min-width: 1400px) {
    .img {
        /* height: 170px; */
    }
}
