.container {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-top: calc(var(--padding) + 16px);
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 16px;
}

.title {
    composes: fontH3 from "./../../styles/global.css";
    composes: colors from "./../../styles/global.css";
    color: var(--colorPrimary);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 1050px) {
    .container {
        margin-top: calc(var(--padding) / 2);
        margin-bottom: 32px;
    }
}
