.container {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonShape {
    fill: #212121;
    fill-opacity: 0.8;
}

.buttonIcon {
    fill: #ffffff;
}

.video:hover .buttonShape {
    fill: #ff0000;
    fill-opacity: 1;
}
