.container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1111;
    background: #fff;
}

.visible {
    display: block;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.content {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.header {
    composes: fontSize from "./../../styles/global.css";

    font-size: var(--fontLarge);
    color: #333;
    margin: 80px auto 20px;
    width: auto;
}

.question {
    border-radius: 4px;
    composes: fontSize from "./../../styles/global.css";
    composes: colors from "./../../styles/global.css";
    font-size: var(--fontMedium);
    width: 100%;
    border: 1px solid var(--colorPrimary300);
    padding: 8px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
}

.commonInput {
    border-radius: 4px;
    composes: fontSize from "./../../styles/global.css";
    composes: colors from "./../../styles/global.css";
    font-size: var(--fontMedium);
    border: 1px solid var(--colorPrimary300);
    flex: 1 1 0;
    padding: 8px;
}

.input {
    composes: commonInput;
}

.name {
    composes: commonInput;
    width: 100%;
}

.input:first-of-type {
    margin-bottom: 16px;
}

.button {
    width: 100%;
}

.desktopSteps {
    display: none;
    height: 0;
    margin-top: 0;
    overflow: hidden;
}

.mobileSteps {
    display: flex;
    margin-bottom: 16px;
}

.successMessages {
    composes: colors from "./../../styles/global.css";
    border: 1px solid var(--colorPrimary300);
    background: var(--colorPrimary100);
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontTiny);
    padding: 16px;
    margin-top: 16px;
}

@media (min-width: 1050px) {
    .header {
        margin-bottom: 40px;
        margin-top: 100px;
    }
    .content {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    .buttonWrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        width: auto;
        order: 2;
        width: 100%;
    }

    .desktopSteps {
        display: flex;
        height: auto;
        overflow: inherit;
    }

    .mobileSteps {
        display: none;
        height: 0;
        overflow: hidden;
        margin-bottom: 0;
    }

    .input:first-of-type {
        margin-bottom: 0;
        /* margin-right: 16px; */
    }
}
