@value borderRadiusSmall, shadow from "./../../styles/global.css";

.card {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.video {
    composes: shadow;
    box-shadow: var(--box-shadow);
    border-radius: borderRadiusSmall;
}

.title {
    composes: fontH5 from "./../../styles/global.css";
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
}

@media (min-width: 1050px) {
    .title {
        line-height: 32px;
    }
}
