.button {
    composes: colors from "./../../styles/global.css";
    composes: fontSize from "./../../styles/global.css";
    background: var(--colorPrimary100);
    text-transform: uppercase;
    color: var(--colorPrimary);
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
    font-size: var(--fontMedium);
    cursor: pointer;
    transition: all 0.4s;
}

.button:hover {
    background: var(--colorPrimary300);
}

.primary {
    background: var(--colorPrimary);
    color: #fff;
}

.primary:hover {
    background: var(--colorPrimary300);
}

@media (min-width: 1050px) {
}
