.container {
    composes: pagePadding from "./../../styles/global.css";
    display: flex;
}

.images {
    width: 48px;
    height: 48px;
    position: relative;
    flex: 0 0 48px;
    margin-right: 16px;
}

.avatar {
    composes: colors from "./../../styles/global.css";
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    background: var(--colorPrimary100);
}

.logo {
    position: absolute;
    right: -10%;
    bottom: -10%;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    object-fit: contain;
    z-index: 1;
    background: #fff;
    border: 2px solid #fff;
}

.text {
    align-self: flex-end;
}

.name {
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontMedium);
    color: #333;
    margin: 0;
}
.company {
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontTiny);
}

@media (min-width: 900px) {
    .images {
        width: 80px;
        height: 80px;
        flex: 0 0 80px;
    }
}

@media (min-width: 1400px) {
}
