.container {
    composes: pagePadding from "./../../styles/global.css";
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    color: #333;
}

.link {
    composes: container from "./../../styles/global.css";
    color: var(--colorPrimary);
    cursor: pointer;
}

.link {
    composes: container from "./../../styles/global.css";
    color: var(--colorPrimary);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

@keyframes appearance {
    from {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0);
    }
}
