.container {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-top: calc(var(--padding) + 32px);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
}

.link {
    composes: colors from "./../../styles/global.css";
    color: var(--colorPrimary);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.description {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-top: -16px;
    margin-bottom: 16px;
}

@media (min-width: 1050px) {
    .container {
        margin-top: calc(var(--padding) / 2);
        margin-bottom: 32px;
    }
}
