.container {
    composes: pagePadding from "./../../styles/global.css";
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: var(--padding);
    display: flex;
    justify-content: space-between;
}

.title {
    /* font-size: 30px; */
    color: #333;
}

@media (min-width: 1000px) {
}

@keyframes appearance {
    from {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0);
    }
}
