.container {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    composes: fontTiny from "./../../styles/global.css";
}

.item:last-of-type {
    flex: 0 0 auto;
    /* padding-right: 0; */
}

.currentItem {
    composes: colors from "./../../styles/global.css";
    color: var(--colorPrimary);
}

.index {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
}

.currentItem .index {
    color: #fff;
    border: 1px solid var(--colorPrimary);
    background: var(--colorPrimary);
}

.line {
    flex: 1 1 0;
    height: 1px;
    composes: colors from "./../../styles/global.css";
    background: #aaa;
    margin-left: 16px;
    margin-right: 16px;
    min-width: 60px;
}

.lineActive {
    composes: colors from "./../../styles/global.css";
    background: var(--colorPrimary);
}

.item:last-of-type .line {
    display: none;
}

.title {
    display: none;
}

@media (min-width: 1050px) {
    .title {
        display: inherit;
    }
    .index {
        margin-right: 8px;
    }
}
