.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    animation: appearance-of-menu-mobile 2.5s ease-out;
    composes: colors from "./../../styles/global.css";
    composes: pagePadding from "./../../styles/global.css";
    /* background: var(--colorPrimary); */
    background: #fff;
    box-shadow: 0px -20px 30px rgba(0, 0, 0, 0.3);
    height: 56px;
}

.link {
    flex: 1 1 0;
}

.item {
    list-style-type: none;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.4s;
}

.item::before {
    display: none;
}

.title {
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontTiny);
    text-align: center;
    text-transform: capitalize;
    /* color: rgba(255, 255, 255, 0.76); */
    color: #aaa;
    white-space: nowrap;
    text-decoration: none;
    transition: all 1s;
    /* z-index: 100; */
}

.activeTitle {
    /* color: rgba(255, 255, 255, 1); */
    /* transform: scale(1.2); */
    color: var(--colorPrimary);
}

.icon {
    margin: 0 auto;
    /* color: rgba(255, 255, 255, 0.76); */
    color: #aaa;
    transition: all 1s;
    width: 24px;
    height: 24px;
}

.activeIcon {
    /* color: rgba(255, 255, 255, 1); */
    /* transform: scale(1.2); */
    color: var(--colorPrimary);
}

@media (min-width: 1050px) {
    .nav {
        position: fixed;
        top: 0;
        bottom: auto;
        composes: pagePadding from "./../../styles/global.css";
        width: auto;
        z-index: 100;
        justify-content: center;
        left: 50%;
        right: inherit;
        transform: translateX(-50%);
    }

    .menu {
        background: none;
        animation: appearance-of-menu 2.5s ease-out;
        box-shadow: none;
        justify-content: flex-end;
        height: 64px;
        right: var(--padding);
        width: auto;
    }

    .item {
        margin-left: 16px;
        margin-right: 16px;
    }

    .title {
        text-transform: uppercase;
        text-align: center;
        color: rgba(255, 255, 255, 0.76);
    }

    .activeTitle {
        color: rgba(255, 255, 255, 1);
    }

    .icon {
        display: none;
    }

    .link {
        flex: 0 0 auto;
    }
}

@media (min-width: 1400px) {
    .item {
        margin-left: 32px;
        margin-right: 32px;
    }
}
