.container {
    composes: pagePadding from "./../../styles/global.css";
    width: 100%;
    display: grid;
    grid-template-areas:
        "h h h"
        ". s .";
    grid-template-columns: var(--padding) auto var(--padding);
}

.header {
    grid-area: h;
}

.scrollable {
    overflow-x: scroll;
    position: relative;
    composes: pagePadding from "./../../styles/global.css";
    display: inline-flex;
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding);
    scroll-behavior: smooth;
    grid-area: s;
    margin: -32px calc(-1 * var(--padding));
    padding: 32px var(--padding);
    min-width: calc(100% + 2 * var(--padding));
}

.desktop {
    composes: pagePadding from "./../../styles/global.css";
    display: flex;
    transition: transform 500ms cubic-bezier(0.03, 0.6, 0.36, 1) 0s;
    width: calc(100% + var(--gap));
    min-width: calc(100% + var(--gap));
    flex-direction: row;
    padding-right: var(--gap);
}

.buttonContainer {
    composes: pagePadding from "./../../styles/global.css";
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

.leftButtonContainer {
    composes: buttonContainer;
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.rightButtonContainer {
    composes: buttonContainer;
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.cardWrapper {
    composes: pagePadding from "./../../styles/global.css";
    padding-right: var(--gap);
    width: calc((100% + var(--gap)) / 1);
    min-width: calc((100% + var(--gap)) / 1);
    width: calc((100% + var(--gap)) / var(--count));
    transition: transform 500ms cubic-bezier(0.03, 0.6, 0.36, 1) 0s;
}

.cardWrapper:last-of-type {
    padding-right: var(--padding);
    margin-right: var(--padding);
}

.buttonHidden {
    display: none;
}

@media (min-width: 900px) {
    .scrollable {
        overflow-x: initial;
        min-width: calc(100% + 2 * var(--padding));
    }

    .cardWrapper:last-of-type {
        padding-right: var(--gap);
    }

    .buttonContainer {
        display: flex;
    }

    .buttonHidden {
        display: none;
    }
}

@media (min-width: 1400px) {
}
