.container {
    overflow-x: scroll;
    position: relative;
    /* background: green; */
    width: 100%;
}

.buttonContainer {
    composes: pagePadding from "./../../styles/global.css";
    width: var(--padding);
    height: 100%;
    position: absolute;
    top: 0;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
}

.leftButtonContainer {
    composes: buttonContainer;
    left: 0;
}

.rightButtonContainer {
    composes: buttonContainer;
    right: 0;
}

.button {
    cursor: pointer;
}

.scrollable {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    display: inline-flex;
    padding-bottom: var(--padding);
    margin-top: 16px;
    margin-right: var(--padding);
    scroll-snap-type: x mandatory;
}

.card {
    width: 175px;
    composes: radius from "./../../styles/global.css";
    composes: clickableShadow from "./../../styles/global.css";
    composes: pagePadding from "./../../styles/global.css";
    margin-right: 16px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: var(--card-border-radius);
    scroll-snap-align: start;
}

.card:last-of-type {
    margin-right: 0;
}

.img {
    composes: radius from "./../../styles/global.css";
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

.content {
    padding: 16px;
    overflow: hidden;
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    line-height: 30px;
    color: rgb(51, 51, 51);
    margin: 0;
}

@media (min-width: 1000px) {
    .scrollable {
        margin-top: 24px;
    }
    .card {
        /* flex: 0 0 calc((100% - 2 * var(--padding)) / 4); */
        width: 300px;
    }
    .card:hover {
        transform: translateY(-4px);
    }
}
