.padding {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
}

.container,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
}

.img {
    width: 100%;
    margin-bottom: 0.8rem;
}
