.container {
    color: #333;
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontSmall);
}

.padding {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
}

.container > *,
.container > * > * {
    font-size: var(--fontSmall);
}

.container > h1 {
    font-size: var(--fontHuge);
}

.container > h2 {
    font-size: var(--fontLarge);
}

.h2 {
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontLarge);
    margin-top: var(--fontLarge);
}

.h3 {
    composes: fontSize from "./../../styles/global.css";
    font-size: calc(var(--fontSmall) * 1.9);
    margin-top: calc(var(--fontSmall) * 1.9);
}
.h4 {
    composes: fontSize from "./../../styles/global.css";
    font-size: calc(var(--fontSmall) * 1.6);
    margin-top: calc(var(--fontSmall) * 1.6);
    line-height: calc(var(--fontSmall) * 1.9);
}
.h5 {
    composes: fontSize from "./../../styles/global.css";
    font-size: calc(var(--fontSmall) * 1.3);
    margin-top: calc(var(--fontSmall) * 1.3);
    font-weight: bold;
}
.h6 {
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontSmall);
    margin-top: var(--fontSmall);
    font-weight: bold;
}
