.container {
    margin-top: 64px;
}

.content {
    composes: pagePadding from "./../../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    color: #333;
    display: flex;
    flex-wrap: wrap;
}

.poster {
    height: auto;
    width: 100%;
}

.quoteCard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 8px;
    composes: shadow from "./../../../styles/global.css";
    box-shadow: var(--box-shadow);
    /* padding: 16px; */
}

.description {
    margin-bottom: 16px;
}

.avatar {
    height: 100%;
    width: 200px;
    /* flex: 0 0 auto; */
    object-fit: cover;
}

.otherServices {
    /* margin-bottom: var(--padding); */
}

.whyList {
    display: grid;
    grid-template-columns: 1fr;
    composes: pagePadding from "./../../../styles/global.css";
}

.whyCard {
    composes: pagePadding from "./../../../styles/global.css";
    composes: shadow from "./../../../styles/global.css";
    padding: var(--padding);
}

.videoCard {
    padding: 0;
}

.contacts {
    transform: translateY(-50%);
    margin-bottom: -30px;
}

.marginTop {
    /* margin-top: 30px; */
    position: sticky;
    bottom: 60px;
}

@media (max-width: 1399px) {
    .forDesktop {
        display: none;
    }
}

@media (min-width: 1050px) {
    .poster {
        height: 50vh;
        object-fit: cover;
    }

    .contacts {
        margin-bottom: -40px;
    }

    .content {
        /* grid-template-columns: 1fr 1fr; */
        flex-wrap: nowrap;
        /* margin-right: 0; */
    }
    .description {
        margin-right: var(--gap);
        flex: 1 1 0;
    }

    .quoteCard {
        padding: 0;
        overflow: hidden;
        flex: 1 1 0;
        /* border-top-right-radius: 0;
        border-bottom-right-radius: 0; */
    }

    .whyList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--gap);
        margin-left: var(--padding);
        margin-right: var(--padding);
    }

    .whyCard {
        border-radius: 16px;
        background: #fff;
        padding: var(--gap);
        box-shadow: var(--box-shadow);
        overflow: hidden;
        padding-top: 32px;
        /* margin-top: 0; */
    }

    .videoCard {
        padding: 0;
    }

    .marginTop {
        bottom: 140px;
    }
}

@media (min-width: 1400px) {
    .forDesktop {
        display: flex;
    }

    .forMobile {
        display: none;
    }
}
