.container {
    margin-top: 64px;
}

.content {
    composes: pagePadding from "./../../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    color: #333;
}

.poster {
    height: auto;
    width: 100%;
}

.otherServices {
    margin-bottom: var(--padding);
}

@media (min-width: 1050px) {
    .poster {
        height: 50vh;
        object-fit: cover;
    }
}
