@value borderRadiusSmall from "./../../styles/global.css";

.card {
    scroll-snap-align: start;
    display: flex;
    border-radius: borderRadiusSmall;
    flex-wrap: wrap;
    composes: shadow from "./../../styles/global.css";
    box-shadow: var(--box-shadow);
    overflow: hidden;
    background: #fff;
}

.imageWrapper {
    aspect-ratio: 1;
    position: relative;
    height: 100%;
}

.image {
    width: 100%;
    object-fit: cover;
}

.content {
    padding: 16px;
}

@media (max-width: 1049px) {
    .image {
        display: none;
    }
}

@media (min-width: 1050px) {
    .card {
        flex-wrap: nowrap;
    }

    .image {
        width: 30%;
    }

    .content {
        padding: var(--gap);
    }
}
