.container {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-top: calc(var(--padding) + 64px);
    /* display: flex;
    justify-content: space-between; */
    /* align-items: baseline; */
    margin-bottom: 16px;
    display: grid;
}

.alignCenter {
    justify-content: center;
    text-align: center;
}

.title {
    composes: fontH1 from "./../../styles/global.css";
    margin-bottom: 16px;
    word-wrap: break-word;
}

.subTitle {
    composes: colors from "./../../styles/global.css";
    color: var(--colorPrimary);
    composes: fontH6 from "./../../styles/global.css";
}

@media (min-width: 1050px) {
    .container {
        margin-top: var(--padding);
        /* margin-top: calc(var(--padding) / 2); */
        margin-bottom: 32px;
    }
    .title {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}
