.container {
}

.grid {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.imgWrapper {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: var(--gap);
    composes: colors from "./../../styles/global.css";
    background: var(--colorPrimary);
}

.name {
    color: #333;
}

@media (min-width: 1050px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: var(--gap);
    }
    .item {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .imgWrapper {
        margin-right: 0;
        width: 80px;
        height: 80px;
    }
    .name {
        text-align: center;
        width: 100%;
    }
}
