.commonInput {
    width: 100%;
    border-radius: 4px;
    composes: fontH6 from "./../../styles/global.css";
    composes: colors from "./../../styles/global.css";
    border: 1px solid var(--colorPrimary300);
    flex: 1 1 0;
    padding: 8px;
}

.input {
    composes: commonInput;
}

.input:first-of-type {
    margin-bottom: 16px;
}

.helperText {
    font-size: 14px;
    color: #666;
}

.helperTextError {
    color: red;
}

@media (min-width: 1050px) {
    .input:first-of-type {
        margin-bottom: 0;
        margin-right: 16px;
    }
}
