.container {
    composes: pagePadding from "./../../styles/global.css";
    /* margin-left: var(--padding); */
    width: 100%;
    min-width: 100%;
}

.list {
    /* background: green; */
    composes: pagePadding from "./../../styles/global.css";
    min-width: 100%;
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding);
    scroll-behavior: smooth;
    margin-top: -16px;
    padding-top: 16px;
}

.cardWrapper {
    composes: pagePadding from "./../../styles/global.css";
    width: calc(100% - 2 * var(--padding) + var(--gap));
    min-width: calc(100% - 2 * var(--padding) + var(--gap));
    padding-right: var(--gap);
}
.cardWrapper:first-of-type {
    margin-left: var(--padding);
}

.card {
    /* background: red; */
    composes: radius from "./../../styles/global.css";
    composes: clickableShadow from "./../../styles/global.css";
    /* margin: 16px; */
    scroll-snap-align: start;
    display: flex;
    background: #fff;
}

.content {
    composes: pagePadding from "./../../styles/global.css";
    padding: var(--gap);
    /* flex: 1 1 0; */
    flex: 0 0 70%;
}

.text {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.quote {
    composes: container from "./../../styles/global.css";
    color: var(--colorPrimary);
    font-size: 60px;
    margin-right: 16px;
    line-height: 60px;
    align-self: flex-start;
}

.title {
    color: #333;
}

.imgWrapper {
    height: 100%;
    /* width: 30%; */
    flex: 0 0 30%;
}

.img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (min-width: 900px) {
    .text {
        font-size: 16px;
    }
}
