.container {
    padding-bottom: 220px;
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    border-top: 1px solid #777;
    margin-top: var(--padding);
    padding-top: var(--padding);
    display: flex;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 0 0 100%;
    /* display: flex; */
    /* align-items: baseline; */
}

.label {
    margin-left: 8px;
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontMedium);
}

.icons {
    display: flex;
    justify-content: space-between;
    /* margin-top: 16px; */
    width: 100%;
}

.icon {
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 50%;
    composes: shadow from "./../../styles/global.css";
    box-shadow: var(--box-shadow);
    background: #fff;
    margin-bottom: 16px;
}

.content {
    padding: 16px;
}

@media (min-width: 1050px) {
    .container {
        margin-top: calc(var(--padding) / 2);
        padding-top: calc(var(--padding) / 2);
        flex-wrap: nowrap;
        padding-bottom: 80px;
    }

    .content {
        padding: var(--gap);
    }
}
