.wrapper {
    composes: pagePadding from "./../../styles/global.css";
    margin-left: var(--padding);
    margin-right: var(--padding);
    z-index: 1;
}

.content {
    margin: -16px;
    padding: 16px;
    justify-content: space-between;
    display: flex;
}

.btns {
    display: flex;
}

.btn {
    border-radius: 24px;
    height: 48px;
    width: 48px;
    padding: 8px;
    background: #fff;
    margin-right: 8px;
    composes: shadow from "./../../styles/global.css";
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontSmall);
    color: #fff;
    transition: all 0.4s;
}

.btn:hover {
    color: #fff;
    transform: scale(1.1);
}

.icon {
    width: 32px;
    height: 32px;
}

.phone {
    padding: 8px 16px;
    cursor: pointer;
    composes: colors from "./../../styles/global.css";
    /* background: #e7c67b; */
    background: var(--colorSecondary);
    color: #fff;
    transition: transform 0.4s;
    width: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 0;
}

@media (max-width: 1049px) {
    .showInDesktop {
        display: none;
    }
}

@media (min-width: 1050px) {
    .showInPhone {
        display: none;
    }
    .wrapper {
        bottom: 0;
        position: relative;
    }
    .content {
        justify-content: flex-start;
    }
    .btns {
        margin-left: 16px;
    }

    .btn {
        margin-bottom: 16px;
    }
    .phone {
        background: var(--colorPrimary);
    }
}
