.mainContainer {
    display: grid;
    grid-auto-rows: calc(100vh - 150px) auto auto auto auto auto;
    grid-auto-columns: 100%;
    grid-template-areas:
        "bg"
        "we"
        "s"
        "f"
        "j"
        "ssb"
        "ff";
}

.we {
    grid-area: we;
    color: #333;
}

.bg {
    grid-area: bg;
    composes: container from "./../styles/global.css";
    display: flex;
    align-items: center;
    justify-content: center;
}

.services {
    grid-area: s;
}

.journal {
    grid-area: j;
    composes: container from "./../styles/global.css";
    padding-bottom: var(--padding);
}

.feedback {
    grid-area: f;
}

.feedbackForm {
    grid-area: ff;
    z-index: 1;
}
