.notFound {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    composes: pagePadding from "./../styles/global.css";
    padding-left: var(--padding);
    padding-top: 10%;
    position: relative;
    overflow: hidden;
}

.bg404 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./../public/images/404.jpg");
    animation: scale-img 30s infinite alternate;
    background-position: center bottom;
    background-size: cover;
}

.notFound404 {
    composes: colors from "./../styles/global.css";
    color: var(--colorSecondary);
    composes: fontSize from "./../styles/global.css";
    font-size: calc(var(--fontExtraHuge) * 3);
}

.notFoundInner {
    z-index: 1;
}

.description {
    composes: colors from "./../styles/global.css";
    color: #ccc;
    composes: fontSize from "./../styles/global.css";
    font-size: var(--fontMedium);
    padding-top: 50px;
}

.homeButton {
    border-radius: 24px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    composes: fontSize from "./../styles/global.css";
    font-size: var(--fontSmall);
    cursor: pointer;
    z-index: 1111;
    justify-self: end;
    composes: pagePadding from "./../styles/global.css";
    margin-right: var(--padding);
    margin-top: 24px;
    padding: 8px 16px;
    composes: colors from "./../styles/global.css";
    background: var(--colorPrimary);
    color: #fff;
    transition: transform 0.4s;
    width: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    composes: shadow from "./../styles/global.css";
    box-shadow: var(--box-shadow);
}

@media (min-width: 1050px) {
    .homeButton {
        max-width: 200px;
    }
}

@keyframes scale-img {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}
