.mainContainer {
    display: grid;
    grid-template-columns: 100%;
    animation: anim 0.3s ease-out;
}

@keyframes anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
