.description {
    composes: colors from "./../styles/global.css";
    color: #515151;
    composes: fontH5 from "./../styles/global.css";
    padding-top: 50px;
    composes: pagePadding from "./../styles/global.css";
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.code {
    composes: colors from "./../styles/global.css";
    color: var(--colorSecondary);
}
