.we {
    composes: pagePadding from "./../../styles/global.css";
    composes: radius from "./../../styles/global.css";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "who"
        "video"
        "benefits"
        "stat";
    background: #fff;
    z-index: 1;
    border-radius: var(--card-border-radius);
    /* animation: appearance 2s ease-out; */
}

.who {
    grid-area: who;
    composes: pagePadding from "./../../styles/global.css";
    composes: fontSize from "./../../styles/global.css";
    padding: var(--padding);
}

.who > h2 {
    font-size: var(--fontLarge);
    margin-bottom: 16px;
}

.who > p {
    font-size: var(--fontSmall);
    /* margin-bottom: 16px; */
}

.playerWrapper {
    grid-area: video;
}

.stat {
    grid-area: stat;
    composes: pagePadding from "./../../styles/global.css";
    padding: var(--padding);
    color: #fff;
    position: relative;
}

.bgWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg {
    object-fit: cover;
}

.statGrid {
    composes: pagePadding from "./../../styles/global.css";
    composes: fontSize from "./../../styles/global.css";
    font-size: var(--fontMedium);
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: calc(var(--padding) / 2);
    row-gap: var(--gap);
}

.statNumber {
    font-size: 48px;
    display: flex;
    align-items: center;
}

.statText {
    display: flex;
    align-items: center;
}

.benefits {
    composes: pagePadding from "./../../styles/global.css";
    composes: fontSize from "./../../styles/global.css";
    grid-area: benefits;
    padding: var(--padding);
}

.benefit {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    font-size: var(--fontSmall);
}

.benefits:last-child {
    padding-bottom: 8px;
}

.benefitIcon {
    composes: pagePadding, colors from "./../../styles/global.css";
    margin-right: calc(var(--padding) / 2);
    flex: 0 0 auto;
    color: var(--colorPrimary);
}

.benefitText {
    padding: 0;
}

@media (min-width: 1050px) {
    .we {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "who stat"
            "video benefits";
        margin: var(--padding) var(--padding) 0;
        box-shadow: 0 5px 24px rgba(0, 0, 0, 0.08);
        overflow: hidden;
    }
    .who,
    .stat,
    .benefits {
        padding: var(--gap);
    }

    .benefitIcon {
        margin-right: calc(var(--gap) / 2);
    }

    .statGrid {
        composes: pagePadding from "./../../styles/global.css";
        display: grid;
        grid-template-columns: auto 1fr;
        row-gap: calc(var(--gap) / 2);
        column-gap: calc(var(--gap) / 2);
    }
}

@keyframes appearance {
    from {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0);
    }
}
