/* --multiplier: 1; */

.colors {
    --colorPrimary700: #14742e;
    --colorPrimary: #488558;
    --colorPrimary300: rgba(72, 133, 88, 0.5);
    --colorPrimary100: rgba(72, 133, 88, 0.08);
    --colorSecondary: #e7c67b;
    /* --colorSecondary: #61ac27; */
}

.pagePadding {
    --padding: 24px;
    --gap: 8px;
    transition: all 0.4s;
}

@value borderRadiusSmall: 8px;
@value borderRadiusMedium: 16px;
@value borderRadiusLarge: 24px;

.fontSize {
    --fontSizeTiny: 0.75rem; /*дополнительный текст*/
    --fontSizeH6: 1.125rem;
    --fontSizeH5: 1.25rem;
    --fontSizeH4: 1.4rem;
    --fontSizeH3: 2rem; /*подзаголовок*/
    --fontSizeH2: 2.4rem; /*заголовок секции*/
    --fontSizeH1: 3.5rem; /*заголовок страницы*/
}

.fontTiny {
    composes: fontSize;
    font-size: var(--fontSizeTiny);
    line-height: calc(var(--fontSizeTiny) * 1.3);
}

.fontH6 {
    composes: fontSize;
    font-size: var(--fontSizeH6);
    line-height: calc(var(--fontSizeH6) * 1.2);
}
.fontH5 {
    composes: fontSize;
    font-size: var(--fontSizeH5);
    line-height: calc(var(--fontSizeH5) * 1.2);
}
.fontH4 {
    composes: fontSize;
    font-size: var(--fontSizeH4);
    line-height: calc(var(--fontSizeH4) * 1.2);
}
.fontH3 {
    composes: fontSize;
    font-size: var(--fontSizeH3);
    line-height: calc(var(--fontSizeH3) * 1.2);
}
.fontH2 {
    composes: fontSize;
    font-size: var(--fontSizeH2);
    line-height: calc(var(--fontSizeH2) * 1.2);
}
.fontH1 {
    composes: fontSize;
    font-size: var(--fontSizeH1);
    line-height: calc(var(--fontSizeH1) * 1.2);
    font-weight: 500;
}

/* :root {
    --colorPrimary: #488558;
} */

.shadow {
    --box-shadow: 0 5px 24px rgba(0, 0, 0, 0.08);
}

.clickableShadow {
    composes: shadow;
    box-shadow: var(--box-shadow);
    border-radius: borderRadiusSmall;
    transition: all 0.4s;
    position: relative;
    cursor: pointer;
}

.clickableShadow:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: borderRadiusSmall;
    box-shadow: 0 12px 36px 0 rgba(20, 18, 18, 0.13);
    transition: opacity 0.3s;
    opacity: 0;
}

.clickableShadow:hover:before {
    opacity: 1;
}

@value smallTablet: min-width: 500px;
@value largeTablet: min-width: 1050px;
@value smallDesktop: min-width: 1400px;
@value mediumDesktop: min-width: 1900px;
@value largeDesktop: min-width: 2400px;

@media (min-width: 500px) {
    .pagePadding {
        --padding: 48px;
        --gap: 24px;
    }
}

@media (min-width: 1050px) {
    .pagePadding {
        /* --padding: 192px; */
        --padding: 96px;
        --gap: 32px;
    }
}

@media (min-width: 1400px) {
    .pagePadding {
        --padding: 192px;
        /* --padding: 240px; */
        --gap: 48px;
    }
}

@media (min-width: 1900px) {
    .pagePadding {
        --padding: 300px;
    }
}
