/* rubik-regular - latin_cyrillic */
/* @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../public/fonts/rubik-v10-latin_cyrillic-regular.woff2") format("woff2"),
        url("../public/fonts/rubik-v10-latin_cyrillic-regular.woff") format("woff");
    } */

:root {
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-size: 16px;
    font-family: Rubik, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

body {
    height: 100vh;
}

h1 {
    font-size: 3.5rem;
    line-height: 4rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.7rem;
    margin-top: 48px;
    margin-bottom: 24px;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-top: 32px;
    margin-bottom: 16px;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7rem;
    margin-top: 24px;
    margin-bottom: 12px;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 8px;
}
h6 {
    font-size: 1.125rem;
    font-weight: 500;
}

button {
    font-size: 1rem;
}

p,
li {
    max-width: 37em;
    /* max-width: 33em; */
    line-height: 1.4;
}

p {
    margin-bottom: 8px;
}

a {
    color: inherit;
    text-decoration: none;
    /* color: #488558; */
}
a:hover {
    text-decoration: none;
    color: inherit;
    /* color: rgba(72, 133, 88, 0.5); */
}

@media (min-width: 500px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 1050px) {
    html {
        font-size: 18px;
    }
}
