.card {
    composes: radius from "./../../styles/global.css";
    composes: shadow from "./../../styles/global.css";
    scroll-snap-align: start;
    display: flex;
    background: #fff;
    border-radius: var(--card-border-radius);
    flex-wrap: wrap;
}

.content {
    composes: pagePadding from "./../../styles/global.css";
    padding: var(--gap);
    flex: 1 1 0;
    /* flex: 0 0 70%; */
}

.text {
    display: flex;
    align-items: center;
}

.quote {
    composes: colors from "./../../styles/global.css";
    color: var(--colorPrimary);
    font-size: 60px;
    margin-right: 16px;
    line-height: 60px;
    align-self: flex-start;
}

.title {
    composes: fontSize from "./../../styles/global.css";
    color: #333;
    font-size: var(--fontSmall);
}

.imgWrapper {
    height: 100%;
    /* min-height: 400px; */
    /* width: 30%; */
    /* flex: 0 0 auto; */
    height: auto;
    width: auto;
    max-width: 100%;
    padding: 8px;
}

.img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: var(--card-border-radius);
}

@media (min-width: 900px) {
    .imgWrapper {
        display: block;
        max-width: 30%;
    }

    .author {
        margin-top: 16px;
    }
}
